::ng-deep snack-bar-container.alert-red {
    padding: 20px;
    background-color: #F44336;
    color: white;
}

::ng-deep snack-bar-container.alert-green {
    padding: 20px;
    background-color: #8bc34a;
    color: white;
}

::ng-deep snack-bar-container.alert-blue {
    padding: 20px;
    background-color: #2196f3;
    color: white;
}

::ng-deep snack-bar-container.alert-orange {
    padding: 20px;
    background-color: #ff5722;
    color: white;
}