<button class="mb-3 mt-5" mat-mini-fab color="accent" (click)="openAction('apointment')" matTooltip="Appointment" aria-label="Icon Button">
  <mat-icon>perm_contact_calendar</mat-icon>
</button>

<button class="mb-3" mat-mini-fab color="accent" matTooltip="Task" (click)="openAction('task')" aria-label="Icon Button">
  <mat-icon>turned_in_not</mat-icon>
</button>

<button class="mb-3" mat-mini-fab color="primary" matTooltip="Send E-Mail" aria-label="Icon Button">
  <mat-icon>mail_outline</mat-icon>
</button>

<button class="mb-3" mat-mini-fab color="primary" matTooltip="Send SMS" aria-label="Icon Button">
  <mat-icon>chat</mat-icon>
</button>

<button class="mb-3 button-green" mat-mini-fab matTooltip="Contract" (click)="openAction('contractnnew')" aria-label="Icon Button">
  <mat-icon>library_books</mat-icon>
</button>

<button class="mb-3" mat-mini-fab color="warn" matTooltip="Not relevant" (click)="openAction('notrelevant')" aria-label="Icon Button">
  <mat-icon>cancel</mat-icon>
</button>