<div class="main-content">
    <div class="container-fluid">
        <mat-card class="p-0">
            <mat-card-header class="header-grey">
                <div class="row">
                    <div class="col-md-2">
                        <action-type [actionType]="'NotRelevant'"></action-type>
                    </div>
                    <div class="col-md-10">
                        <mat-card-title>Not Relevant</mat-card-title>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="p-4">
                <form [formGroup]="individualForm" (ngSubmit)="onSubmit(individualForm.value)">
                    <div class="row">
                        <!--First row-->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Name :</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{person.first_name}} {{person.last_name}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Email :</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{person.email}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Phone :</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{person.phone_1}}</p>
                                </div>
                            </div>
                        </div>
                        <div dir="rtl" class="col-md-4">
                            <p>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Not Relevant reason</mat-label>
                                    <textarea formControlName="message" matInput matTooltip="Please fill this data"></textarea>
                                    <mat-error *ngIf="individualForm.controls['message'].invalid && individualForm.controls['message'].touched">
                                        Message is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-md-4 pad">
                            <button mat-raised-button type="submit" class="mr-3 mb-md-3 button-green-outline">Create</button>
                            <button mat-raised-button (click)="cancel()" class="button-orange-outline">Cancel</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>